.list_title {
    border-style: solid;
}

.card-header {
    background-color: #cfe2ff;
    padding-top: 15px;
    padding-bottom: 17px;
    border-color: #b6d4fe;
    color: #084298;
}
.card {
    margin-bottom: 20px;
}
.alert-primary {
    text-align: center;
}
.card-header {
    text-align: center;
}

